html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#footer{
  width:100vw;
  height: 40px;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items:center;
  justify-content: center;
  
}
#footer a{
  color: grey;
  text-decoration: none;
}
#footer a:hover{
  color: black;
  text-decoration: underline;
}

.footeritems{
  display: flex;
  width: 20vw;
 
  justify-content: space-between;


}
@media screen and (max-width:900px){
  .footeritems{
    width:80vw;
  }
  h1{
    font-size:10vw !important;
  }
}
.green-bg{
  min-height: 100vh;
  background-color:green;
  width: 100vw;
}

.purple-bg{
  height: 60vh;
  width: 100vw;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;


}
.red-bg{
  height: 60vh;
  min-width: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;


}
.white-bg{
  height: 60vh;
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
padding: 0%;

}
.half{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

@media screen and (max-width:900px){
  .green-bg{
    min-height: 160vh;
    background-color:green;
    width: 100vw;
  }
  
  .purple-bg{
    height: 160vh;
    width: 100vw;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  .red-bg{
    height: 160vh;
    min-width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  .white-bg{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  padding: 0%;
  
  }
  .half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
   padding: 10%;
  }
  canvas{
    min-height: 60vw;
    /* min-width: auto; */
    height: auto;
  }
 .cont{
   flex-direction: column;
 }
 .card-container{
  flex-direction: column;
 }
 .card{
   padding: 10%;
  
 }
 .intro h2{
   font-size: medium;
 }
 .cont{
   min-height: 100vh;
 }
 .center{
   margin: 10% 0;
 }
 .refcont{
   flex-direction: column;
   min-height: 140vh;
   width: 100vw;
   
 }
 .refimg{
   min-width: 100vw;
   height: auto;
 }
 .reftext{
   min-width: 100vw;
   height: auto;
  
 }
}
.cont{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

}
.cont a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 width: 50vw;
}
.banner{
  width: 100vw;
  min-height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  
  background-image: url('/images/viral.jpg');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
 
}
.writing{
  padding:  5% 15%;
}
.writing h2{
  text-align: center;
}
.writing a{
  text-decoration: none;
  color: black;
}
.card-container{
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
 
}
.intro{
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/image.jpg') ;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 60vh;
  width: 100vw;

}
.desc{
  margin: 0 10%;
  text-align: center;
  
}
h1{
  text-align: center;
}
.topimg{
  width: 100vw;
  height: auto;
  background-image: url('/images/fbbanner.jpg');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
}
.toptxt{
  padding: 5% ;
 color: white;
  
}
.refcont{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.refimg{
  width: 50vw;
  height: 100%;
  background-image: url('/images/ref.jpg');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
 
}
.reftext{
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.reftext a{
  color:black;
}